# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
*.snupkg
**/[Nn]u[Gg]et.exe

# Tools (downloaded at build time)
tools/

# Build
*.dll
*.pdb
*.pdbx
*.pe
*.xml

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Rider
.idea/
